#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Keyframes to animate background images */
@keyframes background-transition {
  0% {
    background-image: url('/bg.jpg');
  }
  33% {
    background-image: url('/bg1.jpg');
  }
  66% {
    background-image: url('/bg11.jpg');
  }
  100% {
    background-image: url('/bg7.jpg');
  }
}

#home {
  position: relative;
  z-index: 1;
  min-height: 80vh; /* This increases the height of the section */
  padding-top: 5rem; /* Optional: Increase top padding */
  padding-bottom: 5rem; /* Optional: Increase bottom padding */
}

/* Apply animation to the Hero section background */
.bg-animated-background {
  animation: background-transition 20s infinite ease-in-out;
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center center; /* Centers the image */
  position: fixed; /* Keeps the background fixed while scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Ensures the background spans the entire viewport */
  z-index: -1; /* Ensures the background is behind the content */
  filter: blur(5px); /* Optional: Adds a blur effect to the background */
}

/* Make sure content sits on top */
section {
  position: relative; /* Ensure the section is above the background */
  z-index: 1; /* Set a higher z-index to bring content above the background */
}



h1,p {
  z-index: 10;
}

button{
  position: relative;
  z-index: 10;
}

/* Reduce motion for accessibility */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: black;
}

/* Active Link Styles */
.active-link {
  color: #bb0019; /* Color when the link is active */
  font-weight: bold; /* Optional: makes the active link bold */
  text-decoration: underline; /* Optional: adds underline effect */
}

/* Hover Link Styles */
.hover-link {
  color: #008c76; /* Color when hovering over the link */
  text-decoration: underline; /* Adds underline effect on hover */
}

.visited-link {
  color: #6a5acd; /* Color when the link has been visited (Choose your preferred color) */
}

/* Default Link Styles */
.text-lg {
  transition: color 0.3s ease;
}

.text-lg:hover {
  color: #008c76; /* Color on hover */
}

.text-lg:visited {
  color: #1f00e7; /* Color when the link has been visited (Choose your preferred color) */
}